* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;    
}

header {
    background-color: #90ee90;
    margin-top: 0;
    padding: 1px 0 10px 20px;
}
article{
    margin-left:15px;
    margin-right: 15px;
}
a {
    font-size: 25px;
    color: #0066ff;
}

h1 {
    color: #990066;
    font-family: cursive, fantasy;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
}
h2 {
    color: #990066;
    font-family: cursive;
    font-size: 35px;
    line-height:35px;   
}
h3 {
    color: #990066;
    font-family: inherit;
    font-size: 21px;
}
p {
    color: #990066;
    font-size: 18px;
    line-height: 10px;
   
}
nav {
    padding: 10px;
    padding-top:5px;
    text-align: center;
    font-size: 40px;
    color: #000066;
}

nav a {
    color: #90ee90;
    text-decoration: none;
}

}
footer nav {
    font-size: 20px;}

    


