* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;    
}

header {
    background-color: #90ee90;
    margin-top: 0;
    padding: 1px 0 10px 20px;
}
article{
    margin-left:15px;
    margin-right: 15px;
}
a {
    color: #0066ff;
    font-size: 22px;
}

h1 {
    color: #990066;
    font-family: cursive, fantasy;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
}
h2 {
    color: #990066;
    font-family: cursive;
    font-size: 35px;
    line-height:35px;

}
img {
    border: 5px solid #ffebcd;
    padding: 1%; /*TRouBLe */
}
p {
    color: #990066;
    font-size: 22px;
}
nav {
    padding: 10px;
    padding-top:5px;
    text-align: center;
    font-size: 40px;
    color: #000066;
}

nav a {
    color: #90ee90;
    text-decoration: none;
}

.photo-with-caption {
    margin: 4px 20px 0 0;
    width: 400px;
    float: left;
}

.photo-with-caption img {
    width: 100%;   
}

.photo-with-caption p {
    font-size: 14px;
}

.gym-pic { margin: 4px 20px 0 0;
    height: 400px;
    width: 400px;
    float: left;}

.gym-pic img {width: 100%;}

.uf-journalism {margin: 4px 20px 0 0;
    width: 400px;
    float: left;}

.uf-journalism img {
    width: 100%;}

footer nav{
    font-size: 20px;
}

article h1 {
    font-size:35px;}

article h2 {
    font-size: 35px;}

figcaption {color: #0066ff;
}

footer p {margin: 0;
    padding: 0;}

.facebook-icon {margin: 4px 5px 0 0;}

.facebook-icon img {width: 8%;
    border: 5px solid #ffebcd;
    margin-right: 5px;
    padding: .5%; /*TRouBLe */}

.linkedin-icon img {margin: 4px 20px 0 0;}

.linkedin-icon img {width: 8%;
    border: 5px solid #ffebcd;
    margin-right: 15px;
    padding: .5%; /*TRouBLe */}

.email-icon { margin:4px 20px 0 0;}

.email-icon img {width: 8%;
    border: 5px solid #ffebcd;
    margin-right: 15px;
    padding: .5%; /*TRouBLe */}


